<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG"/>
        <!--Light Green-->
        <foreColor value="10"/>
        <!--backColor value="Red, HighIntensity" /-->
      </mapping>
      <mapping>
        <level value="INFO"/>
        <!--Light Aqua-->
        <foreColor value="11"/>
        <!--backColor value="Red, HighIntensity" /-->
      </mapping>
      <mapping>
        <level value="WARN"/>
        <!--Light Yellow-->
        <foreColor value="14"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <!--Light Red-->
        <foreColor value="12"/>
        <!--backColor value="Red, HighIntensity" /-->
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8"/>
      <file type="log4net.Util.PatternString" value="Logs\Trace\trace"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10240KB"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyy-MM-dd.'log'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%date [%thread] %level [%logger] %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
        <acceptOnMatch value="true"/>
      </filter>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8"/>
      <file type="log4net.Util.PatternString" value="Logs\Error\error"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10240KB"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyy-MM-dd.'log'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%date [%thread] %level [%logger] %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <acceptOnMatch value="true"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <connectionStrings>
    <add name="Database" connectionString="server=PTSECMSSQL17T3\SRV3;database=CallCenter;Integrated Security=SSPI;Pooling=False;" providerName="System.Data.SqlClient"/>
    <add name="WebCtrlDB" connectionString="server=PTSECMSSQL17T1;database=WebCTRL;Integrated Security=SSPI;Pooling=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DomainNamePort" value="80" />
    <add key="ServiceName" value="OnboardingStatusApplicationService_Test" />
    <add key="ServiceDisplayName" value="KKPS Onboarding Status Services (Test1)" />
    <add key="ServiceDescription" value="KKPS Onboarding Status Services (Test1)" />

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/OnboardingStatusApplicationService_Test/Client"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
        contract="ClientService.IClientService" name="BasicHttpBinding_IClientService" />
    </client>
  </system.serviceModel>
</configuration>
